/*

This is a customer css file for my CWDC index.html.

Only use if absolutely needed, to adjust padding / margins on specific elements.

*/

/*.ui-tooltip {
	background-color: #EEEEEE;
	border-radius:5px;
}

.ui-tooltip-content {
	font-family: sans-serif;
	font-size: 1em;
}*/

.jumbotron p {
	margin:30px 0 0 0;
}

#mainBody h3 a {
	color:#333;
}

.completeHeader a {
	color:#b7b7b7 !important;
}

/*
.accordion-heading a::before {
	font-family:'Glyphicons Halflings';
    content:"\e080";
    float: right;
    color: grey;
}

.accordion-heading a.collapsed::before {
   content:"\e114";
}

#html-heading a::before {
	font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}


#html-heading a.collapsed::before {
    content:"\e080";
}
*/
