body {
	position: relative;
}

.inverseDark {
  background-color: #333333;
  color: #eeeeee;
}

.inverseDarker {
  background-color: #222222;
  color: #eeeeee;
}

 .row-padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

.divPadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fullWindow {
  height: 100vh;
  max-height: 900px;
}

.text-center {
  text-align: center;
}  

.table-bordered {
  border-color: #333333;
}
.table-bordered > thead > tr > th {
  border-color: #333333;
}
.table-bordered > tbody > tr > td {
  border-color: #333333;
}

.label {
  font-size: 100%;
}

a {
  color: #eeeeee;
  text-decoration: underline;
}
a:hover, a:focus,
a:active,
a:visited {
  color: #777777;
}

.list-group-item {
  background-color: #222;
}

.completeHeader a {
  color:#b7b7b7 !important;
  text-decoration: line-through;
}

