html {
  height:100%;
}

body {
	position: relative;
}

.inverseDark {
  background-color: #333333;
  color: #eeeeee;
}

.inverseDarker {
  background-color: #222222;
  color: #eeeeee;
}

 .row-padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

.divPadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fullWindow {
  height: 100vh;
  max-height: 900px;
}

.text-center {
  text-align: center;
}  

.table-bordered {
  border: none;
}
.table-bordered > thead > tr > th {
  font-size: 150%;
  border: none;
  color:#eeeeee;
}

.table-bordered > tbody > tr > td {
  border: none;
  color: #eeeeee;
}

.label {
  font-size: 100%;
}

a {
  color: #eeeeee;
}

a:hover, a:focus  {
  color: #777777;
  text-decoration: none;
}

.list-group-item {
  background-color: #222;
}

.completeHeader a {
  color:#b7b7b7 !important;
  text-decoration: line-through;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  text-decoration: none;
}
.inverse-dropdown > li > a {
  color: #9d9d9d;
}
.inverse-dropdown > li > a:hover {
  color: #fff;
  background-color: #000;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #000;
  }