/** {
    border: solid 1px black;
}*/

body {
        margin:0;
        padding:0;
        font-family: arial,helvetica,arial,sans-serif;
        font-weight:bold;
    }

    #topbar {
        position: relative;
        top:-128px;
        background-color: rgba(30, 0, 0, 0.3);
        width:100%;
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 0px 0px;
        height:40px;
        color:white;
        z-index: 1;
    }

    .fixedwidth {
        position: relative;
        width:982px;
        margin: 0 auto;
/*        left:20px;
*/    }

    #logodiv {
        height: 32px;
        padding: 8px 8px 0px 0px;
        float: left;
        border-right:1px solid #990000;
    }

    #signindiv {
        float:left;
        width:163px;
        height:40px;
        border-right:1px solid #990000;
    }

    #topmenudiv {
        float:left;
        font-size: 0.9em;
        height:40px;
    }

    #topmenudiv ul {
        float:left;
        margin:0;
        padding:0;
    }

    #topmenudiv li {
        float:left;
        list-style:none;
        font-weight:bold;
        font-size: 0.9em;
        border-right:1px solid #990000;
        height:100%;
        padding: 12px 15px 13px 15px;
    }

    #searchdiv {
        width:20%;
        float:left;
        padding:8px 0px 8px 10px;
    }

    #searchdiv input {
        height:20px;
        width:204px;
        border:none;
        padding: 2px 8px 2px 8px;
        font-family: Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 0.8em;
        background-image:url(../images/magnify.png);
        background-repeat:no-repeat;
        background-position: center right;
    }

    ::-webkit-input-placeholder {
    color: #2d2d2d;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .break {
        clear:both;
    }

    #red_masthead {
        position:relative;
        left:-260px;
        z-index:0;
        height:128px;
    }

    #newsbar {
        position: relative;
        top:-128px;
        background-color: rgba(153, 0, 0, 0);
        width:100%;
        margin: 0;
        padding: 0px 10px 0px 10px;
        height:88px;
        color:white;
        font-family: Arial, Helmet, Freesans, sans-serif;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;

    }

    #newsbar p {
        margin:0;
        padding-top:10px;
        float:left;
    }

    #newsheader {

        font-size:2.7em;
        position:relative;
        bottom:2px;
        left:0px;
        -webkit-font-smoothing: antialiased;
    }

    #uk {
        font-size:0.7em;
        padding-left:17px;
    }

    #rss {
        float:right;
        margin-top:34px;
        font-size:0.8em;
        padding-right:20px;
        font-weight: bold;
    }

    #rss img {
        height:13px;
        position: relative;
        top:2px;
    }

    #topicmenu ul {
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        background-color:#3E0C0D;
        padding:5px 0 4px 0px;
        margin:0;
        width:975px;
        height:15px;
        position: relative;
        top:5px;
        right:8px;
    }

    #topicmenu li {
        list-style: none;
        font-size: 0.73em;
        padding:0 7px 2px 6px;
        border-right:1px solid #990000;
        float:left;
    }

    .selected {
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        background-color: #EDEDED;
        color:#505050;
        height:12px;
        padding:5px 7px 7px 6px !important;
        position: relative;
        bottom:5px;
    }

    #content {
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
        color:white;
        font-family: Arial, Helmet, Freesans, sans-serif;
        font-weight: normal;
        font-size:0.8em;
        color:#545454;
        -webkit-font-smoothing: antialiased;
        position: relative;
        top:-115px;
        width:980px;
        overflow: hidden;
    }

    .date {
        position:relative;
        left:3px;
        font-weight:bold;
    }

    .lastupdated {
        position:relative;
        left:3px;
    }

    #content p {
        margin: 0 auto;
    }

    h1 {
        margin:9px 0 7px 3px;
        color:#1F4F82;
        font-size: 2.5em;
        letter-spacing: -1px;

    }

    a:link {
/*        color:#1F4F82;
*/        text-decoration: none;
    }

    a:hover {
        color:#1F4F82;
        text-decoration: underline;
    }

    a:visited {
        color:#1F4F82;
    }

    .headline_image {
        float:left;
        position: relative;
        left:3px;
        top:2px;
        margin-right:9px;
    }

    .newsitem {
        margin-top: 0;
        width:225px;
        float:left;
        position: relative;
        left:10px;
    }

    #firstpara {
        padding-bottom: 3px;
        line-height: 16px;
    }

    .links {
        line-height: 20px;
    }

    .video {
        background-image:url(../images/triangle.png);
        background-repeat:no-repeat;
        background-position: center left;
        padding-left:21px;
    }

    .speaker {
        background-image:url(../images/speaker.png);
        background-repeat:no-repeat;
        background-position: center left;
        padding-left:21px;
    }

    #watchlisten {
        background-color: #EEEEEE;
        display: inline-block;
        width:338px;
        height:198px;
        overflow: hidden;
        position: relative;
        margin: 0 0 0 10px;
        top:-110px;
    }

    #watchlisten h2 {
        padding-left: 4px;
        color:#505050;
        margin:8px 0 6px 5px;
        font-size: 1.85em;
        letter-spacing: -1px;
    }

    .boxes {
        float:right;
        margin: 20px 10px 0 0;
    }

    .wlimages {
        float:left;
        width:144px;
        height:125px;
        margin: 0 0 0 0;
        padding: 0;
        border-right: 1px solid white;
        background-color: #D1700E;
    }

    #wlimage3 {
        float:left;
        width:48px;
        height:125px;
        margin: 0;
        padding: 0;
        border-right: none;
        background-color: #D1700E;
        text-align: right;
        font-size: 13px;
    }

    #imgpara3 {
        padding-top: 2px;
    }

    #wlimage3 a {
        color:white;
    }

    .imgparas {
        float:left;
        margin:0 auto;
        color:white;
        padding:2px 5px 3px 9px;
        font-size:13px;
    }

    .imgparas a {
        color:white;
    }

    #live {
        float:left;
        height:24px;
        width:100%;
        margin: 3px 0 0 9px;
        background-image:url(../images/live.png);
        background-repeat:no-repeat;
        background-position: center left;
    }

    #live p {
        font-weight:bold;
        color:#1f4f82;
        float:left;
        position: relative;
        left:33px;
        top:5px;
    }

    #mainContent {
        display: inline-block;
        padding-bottom: 20px;
        border-bottom: solid 1px #EEEEEE;
        width: 625px;
        overflow: hidden;
    }